  
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="{% url "starting-page" %}" class="w3-bar-item w3-button">Home Page</a>
      <!-- Right-sided navbar links. Hide them on small screens -->
    </div>
</div>

<div class="w3-container w3-serif w3-center" style="margin-top:40px" id="showcase">
    <h1 class="w3-jumbo"><b>{{ post.title }}</b></h1>
    <hr style="width:100%;border:5px solid teal" class="w3-round">
</div>
